<table class="table table-striped table-condensed">

			<tr>
				<td>Id</td>
				<td>Title</td>
				<td>Description</td>		
				<td>Score</td>
				<td></td>																				
			</tr>

		<% @challenges.each do |challenge| %>
			<tr>
				<td><%= challenge.id %></td>
				<td><%= challenge.title %></td>
				<td><%= challenge.description %></td>		
				<td><%= challenge.score %></td>
				<td><%= link_to "Delete", challenge_path(challenge), method: :delete, data: {confirm: 'Are you sure?'} %></td>												
			</tr>
		<% end %>

</table>
<%= link_to "New challenge", new_challenge_path %>	